<div class="row">
    <div class="col-md-4 offset-md-4">
        <h3 class="text-center">Add Post</h3>
        <form class="form mb-2" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label class="form-label" for="title">Title:</label>
                <input 
                    type="text" 
                    class="form-control" 
                    formControlName="title"
                    id="title"
                    name="title"
                    autocompleteOff
                required />
                <app-input-error 
                    *ngIf="form.get('title')?.invalid && form.get('title')?.touched" 
                    [message]="errorMessageMinLng"
                />
            </div>
            <div class="form-group">
                <label class="form-label" for="body">Body:</label>
                <textarea 
                    class="form-control" 
                    formControlName="body" 
                    id="body"
                    name="body"
                required>
                </textarea>

                <app-input-error 
                    *ngIf="form.get('body')?.invalid && form.get('body')?.touched"
                    [message]="errorMessageMinLng"
                />
            </div>
            <div class="form-group mt-2">
                <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Save</button>
            </div>
        </form>

        <app-alert class="mt-4" *ngIf="isError" [Message]="alert" />
    </div>
</div>